@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.title {
    display: flex;
    width: 5vw;
    margin: 0 0 0 3vw;
}

header {
    display: flex;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    background-color: white;
    height: 10vh;
    align-items: center;
    position: fixed;
}

.nav-top {
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    margin: 0 5vw 0 0;
}

.blue-orange { 
    width: 100%;    
    margin: 0 0 2vw 0;
    position: relative; 
}

.blue-orange img {
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    bottom: 16.3vw;
    right: 32vw;
    color: #fff;
}
.main-text h1 {
    font-size: 68px;
    margin-bottom: 5vh;
}

.main-text h2 {
    font-weight: lighter;  
}


li:hover {    
    font-weight: bolder;    
    cursor: pointer;
}

.galeria {
    padding: 0 5vw 5vw 5vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
 
}

.galeria img {
    width: 25%;
    padding: 0.62vw;
}

footer {
    display: flex;
    height: 10vh;
    align-items: center;
}

.socialMedia {
    display: flex;
    align-items: center;
    width: 25vw;
    justify-content: space-evenly;
    margin: 0 15vw 0 3.5vw;
}

.socialMedia img {
    height: 25px;
}



.credits {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    font-size: 0.75em;
    font-weight: lighter;
}

    /* responsividade */
@media (max-width: 375px) {
    header {
        width: 100%;
        display: flex;
        position: static;
        height: 5vh;
    }

    .nav-top {
        display: none;
    }

    main {
        width: 100%;       
    }

    .blue-orange {
       display: flex;
       position: relative;
       justify-content: center; 
       width: 100%;
       background-image: url("assets/laranja\ azul\ recorte.png");
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
       /* background-color: turquoise; */
    }
    .blue-orange img {
        display: none;
    }

    .main-text {
        font-size: 16px;
        top: 58vh;
        width: 75%;
        left: 7vw;
        position: absolute;
        display: flex;
        flex-direction: column;
    }

    .main-text h1{
        font-size: 50px;
    }

    .galeria {
        flex-direction: column;
        align-items: center;  
    }
    .galeria img {
        width: 85%;
        padding-bottom: 2vh;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: 19vh;
        width: 75%;
        position: relative;
    }
    .socialMedia {
        position: relative;
        left: 7vh;
        margin: 0;        
        width: 75%;
        background-color: #7FDBD4;
    }
    .credits {
        justify-content: flex-end;
        margin: 0;
        width: 50%;
        position: absolute;
        top: 7vh;
        left: 12vh;

    }
}